<?xml version="1.0"?>
<!-- 
    routes.xml defines the frontend router for the module. 
    The "standard" router is used for custom controllers in Magento 2 frontend.
-->
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App\Routing\Config\Schema">
    <route id="viewmodel" frontName="viewmodel">  <!-- Fixed Front Name -->
        <module name="Training_ViewModelExample" />
    </route>
</routes>
