<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- <preferance for="interface" type="class" /> to tell mag2 to return the class when interface is called -->

    <type name="\Training\DependencyExample\Model\Main">
        <arguments>
        
            <argument name="methodInjection" xsi:type="object">Training\DependencyExample\Model\MethodInjection</argument>

            <argument name="data" xsi:type="array">
                <item name="id" xsi:type="string">Class Main from di.xml</item>
                <item name="manthan123" xsi:type="string">Class Main from di.xml</item>
            </argument>
        </arguments>
    </type>
</config>